{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<button class="delete-btn" data-id="{{ venue.id }}" style="background: white; color: #d9534f; padding: 10px; margin: 15px 0 10px 20px; border: none; display: block;">DELETE VENUE</button>
		<a href="/venues/{{venue.id}}/edit" style="display: block; margin-left: 30px; width: 80px;">UPDATE</a>
		<div class="seeking" style="margin-bottom: 20px;">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		<button class="delete-btn" data-id="{{ venue.id }}" style="background: white; color: #d9534f; padding: 10px; margin: 15px 0 10px 20px; border: none;">DELETE VENUE</button>
		<a href="/venues/{{venue.id}}/edit" style="display: block; margin-left: 30px; width: 80px;">UPDATE</a>
		{% endif %}
	</div>
	<div class="col-sm-6">
		{% if venue.image_link %}
			<img src="../../{{ venue.image_link }}" alt="Venue Image" />
		{% else %}
			<p>No image</p>
		{% endif %}
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				{% if show.artist.image_link %}
					<img src="../../{{ show.artist.image_link }}" alt="Show Artist Image" />
				{% else %}
					<p>No Image</p>
				{% endif %}
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				{% if show.artist.image_link %}
					<img src="{{ show.artist.image_link }}" alt="Show Artist Image" />
				{% else %}
					<p>No Image</p>
				{% endif %}
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<script>
	const deleteBtn = document.querySelector('.delete-btn');
	deleteBtn.onclick = function(e) {
		const deleteId = e.target.dataset['id'];
		fetch('/venues/'+deleteId+'/delete', {
			method: 'POST'
		})
		.then(response => { 
			window.location.href = response['url'];
		})
		.catch(() => { console.log('Error happened'); })
	}
</script>
{% endblock %}

